/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Hero Section */
.hero {
    background: url('../img/hero.png') no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Tamanho maior para o título da seção hero */
.hero h1 {
    font-size: 4rem; /* Ajuste o tamanho conforme desejado */
    font-weight: 700; /* Peso da fonte */
}

/* Section Styling */
section {
    padding: 4rem 2rem;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #4CAF50;
}

/* Footer */
footer {
    background-color: #222;
    padding: 2rem;
    font-size: 0.9rem;
}

/* Ajuste para telas pequenas */
@media (max-width: 576px) {
    .nav-pills .nav-link {
        font-size: 0.8rem; /* Reduz o tamanho da fonte em telas pequenas */
    }
}

/* Ajuste para telas pequenas */
@media (max-width: 768px) {
    #galeria .col-md-3 {
        flex: 0 0 33.33%; /* Cada perfil ocupa um terço da linha */
        max-width: 33.33%; /* Limita a largura máxima a um terço */
    }

    #galeria img {
        width: 100px; /* Reduz o tamanho das imagens */
        height: 100px; /* Mantém o formato circular */
    }

    #galeria h5 {
        font-size: 0.9rem; /* Reduz o tamanho da fonte do nome */
    }
}

/* Ajuste adicional para telas muito pequenas */
@media (max-width: 576px) {
    #galeria .col-md-3 {
        flex: 0 0 50%; /* Cada perfil ocupa metade da linha */
        max-width: 50%; /* Limita a largura máxima a metade */
    }

    #galeria img {
        width: 80px; /* Reduz ainda mais as imagens */
        height: 80px;
    }

    #galeria h5 {
        font-size: 0.8rem; /* Fonte menor para os nomes */
    }
}
